<!-- Стиль жизни -->
<article>
  <div class="row">
    <div class="twelve columns title">
      <h2>Стиль жизни</h2>
      <h4 class="subheader">Мы – команда, мы – семья, мы-профессионалы, одухотворенные, интересные, современные люди, идущие вперед времени.</h4>
    </div>
  </div>
  <div class="row">
    <div class='eight columns title'>
      <p>Стиль Жизни «Мы - Творцы» направлен на воплощение новой философии жизни, новой морали и этики, основанных на Единстве Безусловной Любви каждого человека на Земле, это возрождение истинной духовности и единства людей вне зависимости от пола, возраста, национальности, вероисповедания или социального статуса. Центр нашего движения по воплощению этого стиля жизни находится в Санкт-Петербурге и распространяется на всю Россию, мы представлены в таких городах как Пермь, Калининград, Москва, Красноярск, Новосибирск, Тюмень, Нижний Новгород, Киев.</p>
    </div>
    <div class='four columns'>
      <h6>Смотрите также:</h6>
      <ul class="disc outside">
        <li><%= link_to "Движение «За Творца»", root_path %></li>
        <li><%= link_to "Кто мы и зачем мы", who_we_are_path %></li>
        <li><%= link_to "Круг веры", people_path %></li>
        <li><%= link_to "Наши семинары", seminars_path %></li>
        <li><%= link_to "Регистрация",  new_user_registration_path %></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns title">
      <p>Стиль Жизни «Мы - Творцы» воплощается в нескольких направлениях деятельности: проведение обучающих мероприятий, издание книг, создание сети людей-осознанных творцов жизни во всех регионах нашей страны и русскоговорящих странах, организация мероприятий помощи нуждающимся, проведение творческих и досуговых мероприятий, основанных на раскрытии талантов каждого и воплощение их в реальных действиях.</p>
      <p>Стиль Жизни «Мы - Творцы» реализуется через каждого участника, на наших мероприятиях происходит раскрытие возможностей и талантов людей, искренне желающих изменить свою жизнь, жизнь близких и окружения к лучшему. Мы основываемся на том, что КАЖДЫЙ имеет потенциал ТВОРЦА, и мы помогаем избавиться от страхов, предрассудков, установок, проблем, закрывающих этот потенциал. Это происходит через групповые беседы и дискуссии, обсуждения и творческие задания, через исследование себя и воплощение простых инструментов жизни, которые доступным образом преподаются каждому.</p>
      <p>Стиль Жизни «Мы - Творцы» рожден и работает для Человека, поэтому в нашей работе каждый человек нами принимается безусловно, то есть  таким, какой он есть с любовью и уважением к опыту и знаниям, которыми он обладает, к его характеру и уникальности, каждому дается свобода выражения своей уникальности и потенциала без требований и ожиданий. Наше движение по воплощению этого стиля жизни рождено для создания нового жизненного порядка – порядка Любви и Единства в каждой сфере жизни, в обществе, в государстве, в семье, на предприятии, в сердцах каждого из нас.</p>
    </div>
  </div>
</article>
