<!-- Движение -->
<article>
  <div class="row">
    <div class="twelve columns title">
      <h2>Движение «За Творца»</h2>
      <h4 class="subheader">Здравствуй, Друг. Позволь спросить тебя - Хочешь ли ты быть ТВОРЦОМ своей жизни?</h4>
    </div>
  </div>

  <div class="row">
    <div class="eight columns">
      <p>Да? А Знаешь ли ты, что БЫТЬ ТВОРЦОМ - это реальное движение, это воплощение реальных действий каждого человека, который создает новый стиль жизни для себя и своих близких.</p>

      <h6>Быть ТВОРЦОМ – это Стиль Жизни, основанный на  вопросах:</h6>
      <ul class="disc outside">
        <li><em>Готов ли ты воплощать любовь своего сердца в реальной жизни????</em></li>
        <li><em>Готов ли ты достигнуть успеха в работе, идя по зову своего сердца?</em></li>
        <li><em>Готов ли ты создать пару с партнером, основанную на любви и единстве?</em></li>
        <li><em>Готов ли ты построить свой мир таким, о котором всегда мечтала твоя душа?</em></li>
        <li><em>И главное – готов ли ты поверить в ЛЮБОВЬ и в Творца в Себе?</em></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h6>Смотрите также:</h6>
      <ul class="disc outside">
        <li><%= link_to "Кто мы и зачем мы", who_we_are_path %></li>
        <li><%= link_to "Стиль жизни", life_style_path %></li>
        <li><%= link_to "Круг веры", people_path %></li>
        <li><%= link_to "Наши семинары", seminars_path %></li>
        <li><%= link_to "Регистрация",  new_user_registration_path %></li>
      </ul>
    </div>
  </div>

  <div class='row'>
    <div class='twelve columns'>

      <p>Мы – те, кто идет именно этим путем. Присоединяйся!</p>

      <p>Воплощение нового стиля жизни «Мы - Творцы» направлено на возрождение и пробуждение духовности, осознанности, любви в человеке.</p>

      <p>Стиль жизни, при котором каждому из нас дан шанс с рождения БЫТЬ ТВОРЦОМ.  Этот шанс дан нам, чтобы каждый смог проявить себя и свободу себя в выражении своей любви, Любви ТВОРЦА.</p>

      <p>Эта любовь Творца проявляется в каждом дне жизни ТВОРЦА, в его поведении, в его общении с близкими, в построении отношений и семьи, эта любовь так же проявляется на работе во взаимодействии с коллегами, в помощи нуждающимся, в воплощении своего предназначения, в реализации своей идеи.</p>

      <p>Стиль жизни «Мы – Творцы» - это ДВИЖЕНИЕ, которое означает ДЕЙСТВИЕ и ВОПЛОЩЕНИЕ.</p>

      <p>И если ты ответил да на все вопросы и намерен действовать,  ДОБРО ПОЖАЛОВАТЬ  на наш сайт, в нашу команду, в нашу семью!</p>
    </div>
  </div>

  <div class='row'>
    <div class='four columns centered'>
      <p><%= link_to "Регистрация",  new_user_registration_path, class:'button', style:'width:100%; margin-top:3em;' %></p>
    </div>
  </div>
</article>