<!-- Круг веры -->
<article>
  <div class="row">
    <div class="twelve columns title">
      <h2>Круг веры</h2>
      <h4 class="subheader">«Круг Веры» - это круг людей активно живущих по принципам движения «За Творца» и активно участвующих в деятельности движения.</h4>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <h5>Что это дает?</h5>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <p>Возрождение истинной Веры в Любовь повсеместно, воплощение Веры в Любовь во всех сферах жизни.</p>
      <p>При этом ты уже понимаешь, что такое любовь? Это не просто цветочки и бабочки, лирика и романтика, это реальная движущая сила Вселенной, это энергия всего Мироздания, это то, из чего все создано.</p>
      <p>Познание Любви в воплощении, в реализации ее в жизни дает тебе познание Начала, это дает тебе и людям вокруг тебя ДВИЖЕНИЕ ВПЕРЕД, это дает ЖИЗНЬ, а не просто существование.</p>
    </div>
    <div class="six columns">
      <p>Если есть энергия любви, энергия Бога, то это дает движение вперед во всем и при этом ты создаешь и усиливаешь единство материального и духовного, это единство дает полноту Бытия, полноту твоей реальной жизни в изобилии материального мира, в наполненности отношений с людьми, в радости сердца, при отсутствии двойственности и дуальности, это жизнь в мире, где есть только любовь. Ты готов ТАК жить?</p>

      <p>Жить в «Круге Веры» - это Путь, принимая который ты становишься частью нашей семьи, частью нашего круга Веры, ты принимаешь любовь Своего Пути и воплощаешь ее в своей жизни.</p>
    </div>  
  </div>
</article>

<div class="row">
  <div class="twelve columns title">
    <h6>Смотрите также:</h6>
    <ul class="disc outside">
      <li><%= link_to "Движение «За Творца»", root_path %></li>
      <li><%= link_to "Кто мы и зачем мы", who_we_are_path %></li>
      <li><%= link_to "Стиль жизни", life_style_path %></li>
      <li><%= link_to "Наши семинары", seminars_path %></li>
      <li><%= link_to "Регистрация",  new_user_registration_path %></li>
    </ul>
  </div>
</div>