<!-- Кто мы -->
<article>
  <div class="row">
    <div class="twelve columns title">
      <h2>Кто мы и зачем мы</h2>
      <h4 class="subheader">Мы – команда, мы – семья, мы-профессионалы, одухотворенные, интересные, современные люди, идущие вперед времени.</h4>
    </div>
  </div>
  <div class="row">
    <div class="eight columns title">
      <p>Мы не хотим давать общие фразы, мы хотим чтобы вы почувствовали результат.<br/>
      Наша Цель - Воплощение Любви в Жизни.<br/>
      Наши Задачи – Научиться Воплощать Любовь, Помочь Раскрыть Источник Любви в каждом Человеке.<br/>
      Наша Миссия – Любовь ради Любви.</p>

      <p>Продолжение: <%= link_to 'Стиль жизни', life_style_path %></p>
    </div>
    <div class='four columns'>
      <h6>Смотрите также:</h6>
      <ul class="disc outside">
        <li><%= link_to "Движение «За Творца»", root_path %></li>
        <li><%= link_to "Стиль жизни", life_style_path %></li>
        <li><%= link_to "Круг веры", people_path %></li>
        <li><%= link_to "Наши семинары", seminars_path %></li>
        <li><%= link_to "Регистрация",  new_user_registration_path %></li>
      </ul>
    </div>
  </div>
</article>
