<div class='twelve columns'>

  <div class="row">
    <div class="content eight mobile-four columns centered title">
      <h3>Вход на сайт <small class="hide-for-mobile">пожалуйста, заполните все поля</small></h3>
    </div>
  </div>

  <div class="row">
    <div class="content eight mobile-four columns centered">    
      <div class="row">
        <div class="eight mobile-four columns">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <!-- AUTH FIELDS -->
          <div class="row">
            <div class="four mobile-one columns">
              <label class="right inline">Почта:</label>
            </div>
            <div class="eight mobile-three columns">
              <%= f.email_field :email, :placeholder => "ваша@почта.com", :required => true %>
            </div>
          </div>

          <div class="row">
            <div class="four mobile-one columns">
              <label class="right inline">Пароль:</label>
            </div>
            <div class="eight mobile-three columns">
              <%= f.password_field :password, :placeholder => "входа на сайт", :required => true %>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
          <div class="row" style='margin-bottom:1em;'>
            <div class="eight columns offset-by-four">
              <div class="margin"><%= f.check_box :remember_me %> Запомните меня</div>
            </div>
          </div>
          <% end -%>

          <div class="row">
            <div class="eight columns offset-by-four">
              <%= f.submit "Вперед!", :class => "button" %>
            </div>
          </div>
        <% end %>
        </div>

        <div class="four mobile-four columns">
          <%= render "users/shared/links" %>
        </div>    
       
      </div>
    </div>
  </div>

</div>