<header id="header">
  <div class="row menu">

      <div class="two columns offset-by-one">
        <div class="center-text <% if @nav == "about" %>active<% end %>">
          <a href="/" title="Движение «За Творца»">О движении</a>
          <div class="pointer"></div>
        </div>
      </div>

      <div class="two columns">
        <div class="center-text <% if @nav == "blog" %>active<% end %>">
          <%= link_to "Материалы", blog_path %>
          <div class="pointer"></div>
        </div>
      </div>

      <div class="two columns">
        <div class="center-text <% if @nav == "discussions" %>active<% end %>">
          <%= link_to "Обсуждения", discussions_path %>
          <div class="pointer"></div>
        </div>
      </div>

      <div class="two columns">
        <div class="center-text <% if @nav == "family" %>active<% end %>">
          <%= link_to "Наша семья", family_path %>
          <div class="pointer"></div>
        </div>
      </div>

      <div class="two columns end">
        <% if user_signed_in? %>
          <div class="center-text <%= yield :profile_nav %>">
            <%= link_to "Профиль", edit_user_registration_path %>
            <div class="pointer"></div>
          </div>
        <% else %>
          <div class="center-text <%= yield :registration_nav %>">
            <%= link_to "Регистрация", new_user_registration_path %>
            <div class="pointer"></div>
          </div>
        <% end %>
      </div>

  </div>
</header>