    <nav class="top-bar">
        <ul>
          <li class="name">
            <!-- <%= link_to('/') do %>
              <%= image_tag 'homospiritus-logo-small.png', alt: 'Homo Spiritus', style: 'padding:0 10px;' %>
            <% end %> -->
            <h1><%= link_to 'Homo Spiritus', '/' %></h1>
          </li>
          <li class="toggle-topbar"><a href="#"></a></li>
        </ul>
        <section>
          <ul class="left">
            <li class="divider show-for-medium-and-up"></li>
            
            <li class="has-dropdown">
              <!-- <a href="#">О движении</a> -->
              <a href="#">О нас</a>

              <ul class="dropdown">
<!--
                <li><label>О нас</label></li>
                <li><%= link_to 'Движение «За Творца»', '/' %></li>
-->
                <li><%= link_to 'Кто мы и зачем мы',    kto_my_path %></li>
                <li><%= link_to 'Стиль жизни',          stil_zhizni_path %></li>
              </ul>

            </li>
            
            <li class="divider show-for-medium-and-up"></li>
            
            <li class="has-dropdown">
              <a href="#">Деятельность</a>

              <ul class="dropdown">
                <li><label>Семинары</label></li>
                <li><%= link_to 'Наши живые семинары', nashy_seminary_path %></li>
                <li><%= link_to 'Школа для ведущих', shkola_vedushih_path %></li>
                <li class="divider"></li>
                <li><label>Он-лайн мероприятия</label></li>
                <li><%= link_to 'Видео семинары он-лайн', online_path %></li>
                <li><%= link_to 'Рассписание', rasspisanie_path %></li>
                <li><%= link_to 'Ежедневные утренние медитации он-лайн', utrennie_meditacyi_path %></li>
                <li><%= link_to 'Мастер воплощения»', master_voplosheniya_path %></li>
                <li><%= link_to 'Готов ли ты к Переходу?', gotov_k_perehodu_path %></li>
                <li><%= link_to 'Звездная половинка', zvezdnaya_polovinka_path %></li>
                <li class="divider"></li>
                <li><label>Информация</label></li>
                <li><%= link_to 'Круг веры', krug_very_path %></li>
                <li><%= link_to 'Подробнее о методе', struktury_mediator_grup_path %></li>
              </ul>

            </li>
            
            <li class="divider show-for-medium-and-up"></li>
            
            <li class="has-dropdown">
              <a href="#">Материалы</a>

              <ul class="dropdown">
                <li><label>Наш блог</label></li>
                <li><%= link_to 'Все статьи', blog_path %></li>
                <li class="divider"></li>
                <li><label>Категории</label></li>
                <% @blog_categories.all.each do |c| %>
                  <li><%= link_to c.name, blog_category_path(c.slug) %>
                <% end %>
                <li class="divider"></li>
                <li><label>Волшебные слова и инструкции</label></li>
                <li><%= link_to 'Утром', utro_path %></li>
                <li>
                  <a title='Когда ПЛОХО или необходимо РЕШИТЬ ПРОБЛЕМУ'
                     href='<%= reshenie_problemi_path%>'
                     style='line-height:1.2;'>
                    Когда ПЛОХО или<br/>необходимо РЕШИТЬ ПРОБЛЕМУ
                  </a>
                </li>
                <li>
                  <a title='Усиление себя энергией рода и космической семьи'
                     href='<%= usilenie_path %>'
                     style='line-height:1.2;'>
                    Усиление себя энергией рода и<br/>космической семьи
                  </a>
                </li>
                <li><%= link_to 'На ночь', na_noch_path %></li>
              </ul>

            </li>
            <li class="divider show-for-medium-and-up"></li>
            <li class="has-dropdown">
              <a href="#">Сотрудничество</a>

              <ul class="dropdown">
                <li><%= link_to 'Сотрудничество', sotrudnichestvo_path %></li>
                <li><%= link_to 'Фонды помощи', fondi_path %></li>
                <% if user_signed_in? %>
                  <li class="divider"></li>
                  <li><label>Предложения</label></li>
                  <li><%= link_to 'Для фирм', predlozheniya_dlya_firm_path %></li>
                  <li><%= link_to 'Для ведущих семинаров', predlozheniya_dlya_vedushih_seminarov_path %></li>
                <% end %>
              </ul>
            </li>
          </ul>
          <ul class='right'>
            <% if user_signed_in? %>
              <li><%= link_to "Профиль", edit_user_registration_path %></li>
              <li class='button-link'>
                <%= link_to "Выход", destroy_user_session_path, :method => :delete, class: 'small button' %>
              </li>
            <% else %>
              <li class='button-link'>
                <%= link_to "Вход на сайт", new_user_session_path, class: 'small button' %>
              </li>
            <% end %>
          </ul>
        </section>
    </nav>

  <% if content_for?(:header) %>
    <header>
      <div class='row'>
        <div class='twelve columns'>
          <%= yield(:header) %>
        </div>
      </div>
    </header>    
  <% end %>








