<div class='sidebar three columns'>
  <ul class="side-nav">
    <li><h6>О движении</h6></li>
    <li class="divider"></li>
    <li <% if active == 1 %>class='active'<% end %>><%= link_to 'Движение «За Творца»', '/' %></li>
    <li <% if active == 2 %>class='active'<% end %>><%= link_to 'Кто мы и зачем мы',    kto_my_path %></li>
    <li <% if active == 3 %>class='active'<% end %>><%= link_to 'Круг веры',            krug_very_path %></li>
    <li <% if active == 4 %>class='active'<% end %>><%= link_to 'Стиль жизни',          stil_zhizni_path %></li>
  </ul>

  <ul class="side-nav">
    <li><h6>Деятельность</h6></li>
    <li class="divider"></li>
    <li <% if active == 5 %>class='active'<% end %>><%= link_to 'Наши семинары', nashy_seminary_path %></li>
    <li <% if active == 6 %>class='active'<% end %>><%= link_to 'Структуры медиатор-групп', struktury_mediator_grup_path %></li>
    <li <% if active == 7 %>class='active'<% end %>><%= link_to 'Видео семинары он-лайн', online_path %></li>
    <li <% if active == 13 %>class='active'<% end %>><%= link_to 'Ежедневные утренние медитации', utrennie_meditacyi_path %></li>
    <li <% if active == 14 %>class='active'<% end %>><%= link_to 'Школа для ведущих', shkola_vedushih_path %></li>
  </ul>

  <ul class="side-nav">
    <li><h6>Материалы</h6></li>
    <li class="divider"></li>
    <li><%= link_to 'Все статьи', blog_path %></li>
  </ul>
  
  <ul class="side-nav">
    <li><h6>Сотрудничество</h6></li>
    <li class="divider"></li>
    <li <% if active == 9 %>class='active'<% end %>><%= link_to 'Для всех', sotrudnichestvo_path %></li>
    <li <% if active == 10 %>class='active'<% end %>><%= link_to 'Фонды помощи', fondi_path %></li>
    <% if user_signed_in? %>
      <li <% if active == 11 %>class='active'<% end %>><%= link_to 'Для фирм', predlozheniya_dlya_firm_path %></li>
      <li <% if active == 12 %>class='active'<% end %>><%= link_to 'Для ведущих семинаров', predlozheniya_dlya_vedushih_seminarov_path %></li>
    <% end %>
  </ul>
</div>

