<article class='post'>
  <h3><a href="<%= blog_post_path(post.slug) %>" title="Read this post"><%= post.title %></a></h3>

  <% if post.has_featured_image? %>
    <p>
      <a href="<%= blog_post_path(post.slug) %>" title="Read More">
        <%= image_tag post.featured_image_url, :alt=>post.title %>
      </a>
    </p>
  <% end %>

  <p><%= post.excerpt %></p>

  <%= link_to "Читать полностью", blog_post_path(post.slug) %>
</article>