<article class='post'>
  <h3>
    <a href="<%= blog_post_path(post.slug) %>" title="Читать статью полностью">
      <%= post.title %>
    </a>
  </h3>

  <% if post.has_featured_image? %>
    <p>
      <a href="<%= blog_post_path(post.slug) %>" title="Читать статью полностью">
        <%= image_tag post.featured_image_url, :alt=>post.title %>
      </a>
    </p>
  <% end %>

  <%= post.excerpt.html_safe %>

  <%= link_to "Читать полностью", blog_post_path(post.slug) %>
</article>